<a href="https://colab.research.google.com/github/pravallika00/Adv-Prog/blob/master/(27_05_2020)Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

######CSE-221710307021-Pravallika

## 1. Generate the following pattern
                *
                * *
                * * *
                * * * *
                * * * * *

In [1]:
rows = int(input("Enter the number of rows "))
for j in range(1, rows+1):
    print("* " * j)

Enter the number of rows 5
*
* *
* * *
* * * *
* * * * *

2. Display multiplication table of K. Take k value from user
 	Ex:      7 x 1 =7
    		7 x 2 = 14   .....

In [4]:
num = int(input("Enter the number: "))
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

### 3. Roots of quadratic equation
  	Take the coefficients a,b,c from the user

In [19]:
import cmath
a=int(input("Enter a value"))
b=int(input("Enter b value"))
c=int(input("Enter c value"))
d=(b*b-4*a*c)
if d>0:
  r1=-b+math.sqrt(d)/2*a
  r2=-b-math.sqrt(d)/2*a
  print(r1,"\n",r2)
elif d<0:
  r3=complex(-b+cmath.sqrt(d)/2*a)
  r4=complex(-b-cmath.sqrt(d)/2*a)
  print(r3,"\n",r4)
elif d==0:
  r=(-b)/2*a
  print(r)

Enter a value3
Enter b value2
Enter c value1
(-2+4.242640687119286j)
 (-2-4.242640687119286j)

### 4. Convert a decimal number to Binary

In [14]:
x=int(input("Enter x value"))
print(bin(x))

Enter x value3
0b11

### 5. Generate first N number of Fibonacci numbers. Take N value from the user

In [16]:
n=int(input("enter the value of n"))
n1=0
n2=1
if n<0:
  print("The series is",n1)
else:
    print(n1,n2,end =" ")
    for i in range(2,n):
      next=n1+n2
      print(next,end=" ")
      n1=n2
      n1=next

enter the value of n3
0 1 1