<a href="https://colab.research.google.com/github/pravallika00/Adv-Prog/blob/master/(28_05_2020)Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Question 1:
Accept a string from the user and count no.of vowels,consonants and special characters

####CSE-221710307021-Pravallika

In [7]:
str = input("enter a string")
vowels = 0
conso = 0
sc = 0
str=str.lower()
for i in range(0,len(str)):

  if str[i] == 'a' or str[i] == 'e' or str[i] == 'i' or str[i] == 'o' or str[i] =='u':
    vowels = vowels + 1
  elif str[i]>='a' and str[i]<='2':
    conso = conso + 1
  else:
    sc= sc + 1
print(vowels)
print(conso)
print(sc)

enter a stringgood!
2
0
3

#####Question 2:
count the no.of pairs of a in the given string(Infosys InfyTQ)
    string →  "abbaaccbbaaa"
    output →  2

In [8]:
str  = input("Enter a string")
str.count("aa")

Enter a stringaaabbccaabb

2

Question 3:
    Test case1:
        string →  "((((()()()))))()"
        output →  8
    Test case2:
        string →  "((()))()"
        Output →  4

In [9]:
str = input("enter a string")
a = 0 
b = 0
for i in range(0,len(str)):
  if str[i] == ')':
    a = a+1
  else:
    b = b+1
  if a<=b:
    print(a)
  elif b<=a:
    print(b)

enter a string(((())(()(
0
0
0
0
1
2
2
2
3
3

Question 4:
Read the input as two limits and Print the output as Palindrome count between the two limits
Example #1; Input : 1 10 Output : 9
 Example #2: Input : 1 100 Output : 18

In [1]:
a = int(input("enter a number a"))
b = int(input("enter a number b"))
count = 0
for i in range(a,b):
   rev = 0
   temp = i
   while (i>0):
    r = i%10
    rev = rev*10 + r
    i = i//10
   if(temp == rev):
     count = count + 1
print(count)

enter a number a2
enter a number b100
17

Question 5:

 Accept a number as an input and check whether the given number is palindrome or not
if it is a palindrome number print the number on the screen
if it is not a palindrome number reverse that number and add it to previous number repeat this until will get a palindrome number and print that palindrome number on the screen
input: 127
output: 848

In [2]:
def procedure(rev,temp):
  n = rev + temp
  palindrome(n)

def palindrome(n):
   temp = n
   rev = 0
   while n>0:
     r = n%10
     rev = rev*10 + r
     n = n//10
   if(temp == rev):
      print(rev)
   else:
       procedure(rev,temp)
n = int(input("enter a number"))
palindrome(n)

enter a number122
343

Question 6:
input:orange  →   output : puboif

In [11]:
s = input("enter string: ")
s = s.lower()
for i in range(0,len(s)):
  if s[i] in ('a', 'e', 'i','o', 'u','n'):
    print(chr(ord(s[i])+1),end="")
  elif s[i] in  ('g'):
    print(chr(ord(s[i])+2),end="")
  else :
    print(chr(ord(s[i])+3),end="")

enter string: orange
puboif

Question 7:
Accept input as a string and display sum of digits as the output 
input:Appli123cation456 
Output: 21

In [3]:
str = input("enter a string")
sum = 0
for i in str:
  if i.isdigit() == True: 
     z = int(i)
     sum = sum + z
print(sum)

enter a string345
12

Question 8:
Write a program to prompt for a score between 0.0 and 1.0. If the score is out of range, print an error. If the score is between 0.0 and 1.0, print a grade using the following table:
Score Grade
>= 0.9 A
>= 0.8 B
>= 0.7 C
>= 0.6 D
< 0.6 F
If the user enters a value out of range, print a suitable error message and exit. For the test, enter a score of 0.85

In [7]:
score = float(input("Enter a score"))
if score<0.0 or score>1.0:
  print("error")
elif score>=0.9:
  print("A")
elif score>=0.8:
  print("B")
elif score>=0.7:
  print("C")
elif score>=0.6:
  print("D")
else:
  print("F")

Enter a score0.9
A

Question 9:
Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".
Sample Output :
fizzbuzz
1
2
fizz
4
buzz

In [8]:
for i in range(0,51):
  if i%3 == 0 and i%5 == 0:
    print("FizzBuzz")
  elif i%3 == 0:
    print("Fizz")
  elif i%5 == 0:
    print("Buzz")
  print(i)

FizzBuzz
0
1
2
Fizz
3
4
Buzz
5
Fizz
6
7
8
Fizz
9
Buzz
10
11
Fizz
12
13
14
FizzBuzz
15
16
17
Fizz
18
19
Buzz
20
Fizz
21
22
23
Fizz
24
Buzz
25
26
Fizz
27
28
29
FizzBuzz
30
31
32
Fizz
33
34
Buzz
35
Fizz
36
37
38
Fizz
39
Buzz
40
41
Fizz
42
43
44
FizzBuzz
45
46
47
Fizz
48
49
Buzz
50

Question 10:
Write a Python program to find the median of three values.
Expected Output:
Input first number: 26                                            
Input second number: 15                                                
Input third number: 29                                                  
The median is 26

In [9]:
a = int(input(print("enter first number:")))
b = int(input(print("enter second number:")))
c = int(input(print("enter second number:")))
if a > b:
    if a < c:
      median = a
    elif b > c:
       median = b
    else:
      median = c
else:
    if a > c:
      median = a
    elif b < c:
      median = b
    else:
      median = c
print("The median is",median)

enter first number:
21
enter second number:
22
enter second number:
23
The median is 22